<div class="box">
    <div class = "menu">
        <a href="">Lägg till ny patient</a>
        </br>
        <a href="{% url 'psa:add_provsvar' %}">Lägg till nytt provsvar</a>
    </div>
    <div class = list>
        <h2>Senast inkomna provsvar</h2>
        {% if latest_provsvar_list %}
            <ul>
            {% for provsvar in latest_provsvar_list %}
                <li><a href="{% url 'psa:detail' provsvar.id %}">Skapad: {{ provsvar.created }}</br>Personnummer: {{ provsvar.ssn }}</br>Resultat: {{ provsvar.result }}</a></li><br>
            {% endfor %}
            </ul>
        {% else %}
            <p>Inga provsvar tillgängliga.</p>
        {% endif %}
    </div>
</div>